footer{
    min-height: 50vh;
    width: 100%;
    padding: 5rem 5rem 1rem 5rem;
    background: $black;
    color: $white;
    @include flex(row, space-between, flex-start);
    flex-wrap: wrap;
    border-top: 2px solid $green;
}

.footerBrand{
    flex: 2 2 40rem;
    h4{
        max-width: 300px;
    }
}

.footerLinks{
    flex: 1 1 40rem;
    @include flex(column, flex-start, flex-start);
    a{
        color: $white;
    }
}

@media only screen and (max-width: 756px){
    .footerBrand{
        display: grid;
        place-items: center;
    }

    .footerLinks{
        @include flex(column, flex-start, center);
    }
}